<div  style="font-family: 'Opensans_Regular';font-size: 100%;">

    <div data-ng-init="init();" style="margin-top: 30px;margin-left: 4%;font-size: 125%;">
        Please contribute to this initiative by providing your valuable feedback
    </div>

    <div  style="margin: 5px; padding-bottom: 25px; padding-top: 25px;padding-left: 30px; ">
        <form>
            <div id="feedback-questions" ng-controller="feedbackController">

                <ul style="list-style: none;">
                    <li ng-repeat="quest in questions">

                        <multiple-choice class="ikmc-feedback-question" data-ng-if="quest.type==='MULTIPLE_CHOICE'" question="quest"></multiple-choice>

                        <multiple-select class="ikmc-feedback-question" data-ng-if="quest.type==='MULTI_SELECT'" question="quest"></multiple-select>

                        <short-answer  data-ng-if="quest.type==='SHORT_ANSWER'" question="quest"></short-answer>

                        <div data-ng-if="quest.type === 'DROP_DOWN'" class="ikmc-feedback-question">
                            {{quest.Id.substring(7) | number}}.  {{quest.description}}<span data-ng-if="!!quest.suggestion">&nbsp;(e.g: {{quest.suggestion}})</span>
                            <select  data-ng-model="quest.answer" class="ikmc-feedback-question-dropdown"
                            data-ng-options="option for option in quest.options"></select>
                        </div>

                        <div data-ng-if="quest.type === 'TEXT'" class="ikmc-feedback-question">
                            {{quest.Id.substring(7) | number}}.  {{quest.description}}<span data-ng-if="!!quest.suggestion">&nbsp;(e.g: {{quest.suggestion}})</span>
                            <input type="text" data-ng-model="quest.answer" class="ikmc-feedback-input-box"/>
                        </div>
                    </li>

                </ul>

                <div style="margin-left: 3%;margin-top: 5%">
                    <button type="button" class="btn btn-default" style="font-family: 'Tangerine', serif;" data-ng-click="submitFeedback();">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
