<div style="background-color: #247778;color: #ffffff ;margin-left:14%; font-family: 'Opensans_Regular';
                  font-size: 100%;position: absolute;width: 80%;">

    <div style="margin-top: 30px;margin-left: 4%;font-size: 125%;">
        Please contribute to this initiative by providing your valuable feedback
    </div>

    <div  style="background-color: #247778;width:95%; height: 90%; margin: 5px; padding-bottom: 25px; padding-top: 25px;padding-left: 30px; ">
        <form>
            <div ng-controller="feedbackController" style="background-color: #247778">

                <ul style="list-style: none;">
                    <li ng-repeat="quest in questions">

                        <multiple-choice ng-if="quest.type==='MULTI_SELECT'" question="quest"></multiple-choice>

                        <multiple-select ng-if="quest.type==='MULTIPLE_CHOICE'" question="quest"></multiple-select>

                        <short-answer  ng-if="quest.type==='SHORT_ANSWER'" question="quest"></short-answer>

                    </li>

                </ul>

                <div style="margin-left: 3%;margin-top: 5%">
                    <button type="button" class="btn btn-default" style="font-family: 'Tangerine', serif;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
